@model List<HabitAqui.ViewModels.ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<form method="post" class="card">
    <div class="card-header">
        Manager User Roles
    </div>
    <ul class="list-group list-group-flush">
@for (var i = 0; i < Model.Count; i++)
{
    <li class="list-group-item">
        <input asp-for="@Model[i].RoleId" type="hidden" />
        <input asp-for="@Model[i].RoleName" type="hidden" />
        <input asp-for="@Model[i].Selected" />
        <label asp-for="@Model[i].Selected">@Model[i].RoleName</label>
    </li>
}
    </ul>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Update</button>
        <button asp-action="Index" class="btn btn-primary">Cancel</button>
    </div>
</form>