@model HabitAqui.Models.Aluguer

@{
    ViewData["Title"] = "Detalhes do Aluguer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locador.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Confirmado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar à lista</a>
</div>
