@model IEnumerable<HabitAqui.Models.Aluguer>

@{
    ViewData["Title"] = "Alugueres";
}

<h1>@ViewData["Title"]</h1>

@if(User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if(User.IsInRole("Cliente"))
{
    <h3>Reservas Atuais</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeSaida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.CheckOut == null))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeSaida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habitacao.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn.DataCheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut.DataCheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmado)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Reservas Concluidas</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeSaida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.CheckOut != null))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeSaida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habitacao.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn.DataCheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut.DataCheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmado)
                    </td>
                    <td>
                        @if (item.Pontuacao == null)
                        {
                            <a class="btn btn-danger" asp-controller="Pontuacoes" asp-action="Create" asp-route-AluguerId="@item.Id">Avaliar</a>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-controller="Pontuacoes" asp-action="Edit" asp-route-id="@item.Pontuacao.Id">Editar Review</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeEntrada)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataDeSaida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habitacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Locador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmado)
                </th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(item.Cliente.PrimeiroNome + " " + item.Cliente.UltimoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeEntrada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDeSaida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Habitacao.Rua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locador.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn.DataCheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut.DataCheckOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmado)
                    </td>
                    <td>
                        @if (item.Confirmado)
                        {
                            if (item.CheckIn == null && item.CheckOut == null)
                            {
                                <a class="btn btn-warning" asp-action="Disable" asp-route-id="@item.Id">Rejeitar</a>
                                <a class="btn btn-success" asp-controller="CheckIn" asp-action="Create" asp-route-AluguerId="@item.Id">Check-in</a>
                            }
                            else if (item.CheckIn != null && item.CheckOut == null)
                            {
                                <a class="btn btn-info" asp-controller="CheckOut" asp-action="Create" asp-route-AluguerId="@item.Id">Check-out</a>
                            }
                        }
                        else
                        {
                            <a class="btn btn-success" asp-action="Enable" asp-route-id="@item.Id">Aprovar</a>
                        }
                        
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


