@model IEnumerable<HabitAqui.Models.Categoria>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar nova categoria</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Operações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @*TODO: ver se é possivel melhorar isto, em nível de makeup*@
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            Editar
                    </button>
                    <form asp-action="ToggleCategoria" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                            @if (item.Ativo)
                            {
                                <button type="submit" class="btn btn-danger">
                                    Desativar
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success">
                                    Ativar
                                </button>
                            }
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
