@model HabitAqui.ViewModels.HabitacaoSearchViewModel
@*@model IEnumerable<HabitAqui.Models.Habitacao>*@

@{
    ViewData["Title"] = "Home Page";
}

@*
<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model) {
            <div class="carousel-item">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="Property Image">

                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <p class="card-text">
                            <span>
                                @Html.DisplayFor(modelItem => item.mediaPontuacoes.ToString("0.00"))
                                </span>
                            <span>
                                @Html.DisplayFor(modelItem => item.Concelho)
                            </span>
                        </p>
                        <p class="card-text">
                            <strong>Price per night:</strong>
                            @Html.DisplayFor(modelItem => item.CustoPorNoite)
                        </p>
                        <button type="button" class="btn btn-primary">RESERVAR</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div id="carouselDestaques" class="carousel slide m-0" data-bs-ride="carousel">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="text-center">
    <h1>HabitAqui</h1>

    <form asp-action="Search" method="post">
        <div class="form-group">
            <label asp-for="Rua" class="control-label">Rua:</label>
            <input asp-for="Rua" class="form-control" />
            <span asp-validation-for="Rua" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CheckIn" class="control-label">Check-In Date:</label>
            <input asp-for="CheckIn" class="form-control" type="date" />
            <span asp-validation-for="CheckIn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CheckOut" class="control-label">Check-Out Date:</label>
            <input asp-for="CheckOut" class="form-control" type="date" />
            <span asp-validation-for="CheckOut" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>
*@

@foreach (Habitacao h in Model.Habitacoes)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoPorNoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Id)
        </td>
        @* <td>
    @Html.DisplayFor(modelItem => item.Locador.Id)
    </td> *@
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
