@model HabitAqui.ViewModels.SearchViewModel


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_SearchPartial" />

<div class="ad-container" style="margin-top:50px">
    <form asp-action="Index" method="post" class="from-check" role="group">
        <input type="hidden" asp-for="TextoAPesquisar" value="@Model.TextoAPesquisar" />
        <input type="hidden" asp-for="CheckIn" value="@Model.CheckIn" />
        <input type="hidden" asp-for="CheckOut" value="@Model.CheckOut" />

        <div class="row justify-content-center">

            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="houseTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        @{
                            var priceStr = Model.OrdemPreco == "N/A" ? "" : ": "+Model.OrdemPreco;
                        }

                        Preço € @priceStr
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="houseTypeDropdown">
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseType('All')">
                                <input type="submit" asp-for="OrdemPreco" value="N/A" />
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseType('Ascendente')">
                                <input type="submit" asp-for="OrdemPreco" value="Ascendente" />
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseType('Descendente')">
                                <input type="submit" asp-for="OrdemPreco" value="Descendente" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            


            <div class="col-md-6 text-center">
                <form asp-action="Index" method="post" class="from-check" role="group">
                    Categoria:
                    <select asp-for="CategoriaId" asp-items="@ViewBag.Categorias"></select>
                    Locador:
                    <select asp-for="LocadorId" asp-items="@ViewBag.Locadores"></select>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </form>
            </div>
           

            <div class="col-md-3 text-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownButtonRating" data-bs-toggle="dropdown" aria-expanded="false">
                        @{
                            var ratingStr = Model.OrdemRating == "N/A" ? "" : ": "+Model.OrdemRating;
                        }
                        Rating @ratingStr
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="houseTypeDropdownRating">
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseTypeRating('All')">
                                <input type="submit" asp-for="OrdemRating" value="N/A" />
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseTypeRating('Ascendente')">
                                <input type="submit" asp-for="OrdemRating" value="Ascendente" />
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="selectHouseTypeRating('Descendente')">
                                <input type="submit" asp-for="OrdemRating" value="Descendente" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </form>
</div>

<script>
    function selectHouseType(type) {
        var dropdownButton = document.getElementById('houseTypeDropdown');

        if (type === 'All') {
            dropdownButton.innerText = 'Preço € ';
        } else {
            dropdownButton.innerText = 'Preço € : ' + type;
        }
    }

    function selectHouseTypeRating(type) {
        var dropdownButton = document.getElementById('houseTypeDropdownRating');

        if (type === 'All') {
            dropdownButtonRating.innerText = 'Rating ';
        } else {
            dropdownButtonRating.innerText = 'Rating : ' + type;
        }
    }
</script>


<div class="ad-container">
    <div class="row justify-content-center">
        @foreach (var item in Model.Habitacoes.Where(h => h.Disponivel))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card border-0 shadow">
                    <div id="carouselExample-@item.Id" class="carousel slide" data-ride="carousel" style="height: 200px; overflow: hidden;">
                        <div class="carousel-inner">
                            @foreach (var image in item.Fotografias)
                            {
                                <div class="carousel-item @if (image == item.Fotografias.First()) {
                                    <text>active</text>
                                }">
                                            <img src="@Url.Content($"~/img/habitacoes/{image.Nome}")" class="d-block w-100" alt="Slide" style="object-fit: cover; width: 406px; height: 200px; border-radius: 8px 8px 0 0;">
                                        </div>
                            }
                        </div>
                    </div>
                    <div class="card-body tight-line-height">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <div class="card-text tight-line-height">
                            <span>
                                <i class="bi bi-bookmark-star-fill"></i>
                                @{
                                    double averagePontuacao = item.Alugueres?.Where(a => a.Pontuacao?.MediaPontuacao.HasValue ?? false)
                                    .Select(a => a.Pontuacao.MediaPontuacao.Value)
                                    .DefaultIfEmpty(0)
                                    .Average() ?? 0;
                                }
                                @averagePontuacao
                            </span>
                        </div>
                        <div class="card-text tight-line-height">
                            <span>
                                @Html.DisplayFor(modelItem => item.Concelho)
                            </span>
                        </div>
                        <div class="card-text tight-line-height text-end">
                            <strong>
                                @Html.DisplayFor(modelItem => item.CustoPorNoite)€/Noite
                            </strong>
                        </div>
                        @if (User.IsInRole("Cliente"))
                        {
                            <a class="btn btn-primary" style="margin-top: 5px;" asp-controller="Alugueres" asp-action="Create" asp-route-id="@item.Id">RESERVAR</a>
                        }
                        else if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-primary" style="margin-top: 5px;" asp-controller="Habitacoes" asp-action="Details" asp-route-id="@item.Id">DETALHES</a>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-warning" style="margin-top: 5px;" asp-controller="Habitacoes" asp-action="Edit" asp-route-id="@item.Id">EDITAR</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<div class="ad-container position-relative" style="margin-top:60px;margin-bottom:90px;">
    <div class="row justify-content-center">
        <img class="d-block w-100" alt="Slide" style="object-fit: cover; border-radius: 40px; max-width: 1224px; max-height: 460px;" src="https://content.skyscnr.com/m/63977162d1971615/original/HotelDeals_GraphicPromo_1442x800_Tablet_EMEA-NoCopy.jpg?imbypass=true">
        <div class="position-absolute top-50 start-0 translate-middle-y text-white" style="margin-left:40px;">
            <h1 style="font-size: 3rem;">Venha desfrutar de umas férias</h1>
            <p>Reserve já</p>
        </div>
    </div>
</div>

