@model HabitAqui.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>HabitAqui</h1>

<h2>Funcionalidade - Camacho</h2>

<form asp-action="Index" class="btn-group" role="group">
    <input type="hidden" name="orderPrice" value="@Model.OrdemPreco" />
    <input type="hidden" name="orderRating" value="@Model.OrdemRating" />
    <button type="submit" class="btn btn-primary">All</button>
    @foreach (var categoria in Model.Categorias)
    {
        <button type="submit" class="btn btn-primary" asp-route-categoriaId="@categoria.Id">@categoria.Nome</button>
    }
</form>

@*TODO: fazer parte da filtragem*@
<form asp-action="Index" class="form-check" role="group">
    <input type="hidden" name="categoriaId" value="@Model.CategoriaId" />

    <label>Preço</label>
    <input type="submit" class="btn btn-primary" name="orderPrice" value="Ascendente" />
    <input type="submit" class="btn btn-primary" name="orderPrice" value="Descendente" />
    <br />
    <label>Rating</label>
    <input type="submit" class="btn btn-primary" name="orderRating" value="Ascendente" />
    <input type="submit" class="btn btn-primary" name="orderRating" value="Descendente" />
</form>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Categoria.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Tipologia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Concelho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().CustoPorNoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().Locador.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().NumPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().NumWC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitacoes.FirstOrDefault().mediaPontuacoes)
            </th>
            <th>
                Operações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var habitacao in Model.Habitacoes.Where(h => h.Disponivel))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Tipologia.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Distrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Concelho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.CustoPorNoite)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.Locador.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.NumPessoas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.NumWC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => habitacao.mediaPontuacoes)⭐
                </td>
                <td>
                    <a asp-controller="Habitacoes" asp-action="Details" asp-route-id="@habitacao.Id">Detalhes</a>
                    <a asp-controller="Alugueres" asp-action="Create" asp-route-HabitacaoId="@habitacao.Id">Pedir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Bonito - Tiago</h2>

@foreach (var item in Model.Habitacoes.Where(h => h.Disponivel))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                @Html.DisplayFor(modelItem => item.Name)
            </h5>
            <p class="card-text">
                <span>
                    @String.Format(("0.00"), item.mediaPontuacoes)
                </span>
                <span>
                    @Html.DisplayFor(modelItem => item.Concelho)
                </span>
            </p>
            <p class="card-text">
                <strong>
                    @Html.DisplayFor(modelItem => item.CustoPorNoite)€/Noite
                </strong>
            </p>
            <button type="button" class="btn btn-primary">RESERVAR</button>
        </div>
    </div>
}

<div id="map" style="height: 200px;">
    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
</div>

<a class="weatherwidget-io" href="https://forecast7.com/en/40d72n8d11/vouzela/" data-label_1="VOUZELA" data-label_2="WEATHER" data-icons="Climacons Animated" data-mode="Forecast" data-theme="original">VOUZELA PREVISÃO</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>