@model HabitAqui.ViewModels.HomeSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

@* <partial name="_SearchPartial" /> *@

<form asp-action="Search" method="post">
    <input asp-for="Rua" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
    <input asp-for="CheckIn" class="form-control me-2" type="date" />
    <input asp-for="CheckOut" class="form-control me-2" type="date" />

    @* <input type="hidden" asp-for="Rua" />
    <input type="hidden" asp-for="CheckIn" />
    <input type="hidden" asp-for="CheckOut" /> *@

    <nav>
        <ul class="pagination">
@* TODO: verificar se fica get ou post *@
@foreach (var categoria in Model.Categorias)
{
            <li class="page-item">
                    <input type="submit" class="page-link" asp-action="Search" asp-for="CategoriaFilter" value="@categoria.Nome">
            </li>
}
        </ul>

        <button class="btn btn-outline-success" type="submit">
            Search
        </button>
    </nav>
</form>

<table class="table">
<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Habitacoes) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>