@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Criar Habitação";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/coordinate_search.js"></script>
<link rel="stylesheet" href="~/css/create_habitacao.css" />

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="TipologiaId" class="control-label"></label>
                    <select asp-for="TipologiaId" class="form-control" asp-items="ViewBag.TipologiaId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <select asp-for="Pais" class="form-control" id="Pais">
                        <option value="Portugal">Portugal</option>
                    </select>
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Distrito" class="control-label"></label>
                    <select asp-for="Distrito" class="form-control" id="Distrito">
                    </select>
                    <span asp-validation-for="Distrito" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Concelho" class="control-label"></label>
                    <select asp-for="Concelho" class="form-control" id="Concelho">
                    </select>
                    <span asp-validation-for="Concelho" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-success" onclick="generateCoordinates()">Generate Coordinates</button>
                </div>

                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input asp-for="Latitude" class="form-control" readonly />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" readonly />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CustoPorNoite" class="control-label"></label>
                    <input asp-for="CustoPorNoite" class="form-control" />
                    <span asp-validation-for="CustoPorNoite" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumPessoas" class="control-label"></label>
                    <input asp-for="NumPessoas" class="form-control" />
                    <span asp-validation-for="NumPessoas" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NumWC" class="control-label"></label>
                    <input asp-for="NumWC" class="form-control" />
                    <span asp-validation-for="NumWC" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Itens" class="control-label">Select Itens:</label>

                    <div class="checkbox-list">

                        @foreach (var item in (MultiSelectList)ViewData["Itens"])
                        {
                            <div class="form-check">
                                <input type="checkbox" name="Itens" value="@item.Value" id="@($"chk{item.Value}")" class="form-check-input" />
                                <label class="form-check-label" for="@($"chk{item.Value}")">@item.Text</label>
                            </div>
                        }

                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Fotografias" class="control-label">Upload Photos</label>
                    <input type="file" asp-for="Fotografias" multiple class="form-control" />
                    <span asp-validation-for="Fotografias" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Disponivel" />
                    <label class="form-check-label">@Html.DisplayNameFor(model => model.Disponivel)</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Criar" class="w-100 btn btn-lg btn-primary btn-success" />
                </div>
            </form>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var countryData = {
                "Portugal": {
                    "Distritos": ["Aveiro", "Beja", "Braga", "Bragança", "Castelo Branco", "Coimbra", 
                    "Évora", "Faro", "Guarda", "Leiria", "Lisboa", "Portalegre", "Porto", "Santarém", 
                    "Setúbal", "Viana do Castelo", "Vila Real", "Viseu"],
                    "Concelhos": [
                        "Aveiro", "Beja", "Braga", "Bragança", "Castelo Branco", "Coimbra",
                        "Évora", "Faro", "Funchal", "Guarda", "Leiria", "Lisboa", "Portalegre",
                        "Porto", "Santarém", "Viana do Castelo", "Vila Real", "Viseu"
                    ]
                },
            };
            function updateDistritoAndConcelho() {
                var selectedCountry = $("#Pais").val();
                var distritos = countryData[selectedCountry].Distritos;
                var concelhos = countryData[selectedCountry].Concelhos;

                $("#Distrito").empty();
                $("#Concelho").empty();

                $.each(distritos, function (index, value) {
                    $("#Distrito").append('<option value="' + value + '">' + value + '</option>');
                });

                $.each(concelhos, function (index, value) {
                    $("#Concelho").append('<option value="' + value + '">' + value + '</option>');
                });
            }

            updateDistritoAndConcelho();

            $("#Pais").change(function () {
                updateDistritoAndConcelho();
            });
        });
    </script>
}