@model HabitAqui.Models.Habitacao

@{
    ViewData["Title"] = "Detalhes da Habitação";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>



<h2>@Html.DisplayFor(model => model.Name)</h2>

@if(Model.Fotografias != null && Model.Fotografias.Any())
{
    <div class="ad-containerImage">
    <div class="row">
        @if (Model.Fotografias != null && Model.Fotografias.Any())
        {
            <div class="col-sm-7">
                <img class="ad-MainImage_2" src="@Url.Content($"~/img/habitacoes/{Model.Fotografias.First().Nome}")" alt="Ad Image">
            </div>
            <div class="col-sm-5" style="grid-row-gap: 20px">
                @foreach (var fotografia in Model.Fotografias.Skip(1))
                {
                    <div class="row">
                        <div class="col-6 col-sm-6">
                            <img class="ad_ExtraImage_2" src="@Url.Content($"~/img/habitacoes/{fotografia.Nome}")" alt="Ad Image">
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    </div>
}
else
{
    <div class="ad-containerImage">
        <div class="row">
            <div class="col-sm-7">
                <img class="ad-MainImage_2" src="https://placekitten.com/800/400" alt="Ad Image">
            </div>
            <div class="col-sm-5" style="grid-row-gap: 20px">
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <img class="ad_ExtraImage_2" src="https://placekitten.com/800/400" alt="Ad Image">
                    </div>
                    <div class="col-6 col-sm-6">
                        <img class="ad_ExtraImage_2" src="https://placekitten.com/800/400" alt="Ad Image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6">
                        <img class="ad_ExtraImage_2" src="https://placekitten.com/800/400" alt="Ad Image">
                    </div>
                    <div class="col-6 col-sm-6">
                        <img class="ad_ExtraImage_2" src="https://placekitten.com/800/400" alt="Ad Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="ad-container">
    <div class="row">
        <div class="col-7">
            <div class="ad-title">@Html.DisplayFor(model => model.Categoria.Nome) @Html.DisplayFor(model => model.Tipologia.Nome) em @Html.DisplayFor(model => model.Concelho)</div>
            <div class="ad-subdescription">
                @Html.DisplayFor(model => model.NumPessoas) hóspedes | @Html.DisplayFor(model => model.NumWC) casas de banho
            </div>
        </div>
        <div class="col-5">
            <div class="ad-priceContainer">
                <span style="font-size:23px;font-weight: bold;">@Html.DisplayFor(model => model.CustoPorNoite)€</span> / noite
                @if (User.IsInRole("Cliente") || !User.Identity.IsAuthenticated) {
                    <a class="btn btn-danger float-end" asp-controller="Alugueres" asp-action="Create" asp-route-HabitacaoId="@Model.Id">RESERVAR</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="ad-divider"></div>

<div class="ad-container">
    <div class="row">
        <div class="ad-subtitle"><i class="bi bi-file-earmark-person-fill"></i> Gerido por @Html.DisplayFor(model => model.Locador.Nome)</div>
        
        @{
            Boolean isEmpresa = Model.Locador.IsEmpresa;
            if (isEmpresa) {
                <div class="ad-subdescription">
                    @ViewBag.AnosDeServico
                    anos de serviço no HabitAqui | Empresa
                </div>
            } else {
                <div class="ad-subdescription">
                    @ViewBag.AnosDeServico
                    anos de serviço no HabitAqui | Particular
                </div>
            }
        }
    </div>
</div>

<div class="ad-divider"></div>

<div class="ad-container">
    <div class="row">
        <div class="ad-description">
            @{
                string descricao = Model.Descricao;
                int maxLength = 100;

                if (descricao.Length > maxLength) {
                    descricao = descricao.Substring(0, maxLength) + "...";
                }
            }

            @Html.Raw(descricao)

            @if (Model.Descricao.Length > maxLength) {
                <p class="ad-linkText" data-toggle="modal" data-target="#habitacaoDescricao" style="margin-bottom:-0.8rem;">
                    Mostrar mais ...
                </p>
            }
        </div>
    </div>
</div>

<div class="ad-divider"></div>

<div class="ad-container">
    <div class="row">
        <div class="ad-subtitle"><i class="bi bi-list-ul"></i> O que dispõe neste espaço</div>
        @if (ViewBag.HabitacaoItens != null)
        {
            List<string> distinctCategories = new List<string>();
            foreach (var habitacaoItem in ViewBag.HabitacaoItens)
            {
                var category = habitacaoItem.Item.Categoria;
                if (!distinctCategories.Contains(category))
                {
                    distinctCategories.Add(category);
                }
            }

            foreach (var category in distinctCategories)
            {
                <div>
                    <h2>@category</h2> 
                    @foreach (var habitacaoItem in ViewBag.HabitacaoItens)
                    {
                        if (habitacaoItem.Item.Categoria == category)
                        {
                            <div>
                                <p>@habitacaoItem.Item.Description</p>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>

<div class="ad-divider"></div>

<div class="ad-container">
    <div class="row">
        <div class="ad-subtitle"><i class="bi bi-geo-fill"></i> Localização</div>
        <div class="ad-subdescription">@Html.DisplayFor(model => model.Rua), @Html.DisplayFor(model => model.Concelho), @Html.DisplayFor(model => model.Distrito)</div>
    </div>
    <div class="row">
        <div id="map">
            <script>
                var latitudeString = '@Model.Latitude';
                var longitudeString = '@Model.Longitude';

                var latitude = parseFloat(latitudeString.replace(",", "."));
                var longitude = parseFloat(longitudeString.replace(",", "."));


                var map = L.map('map').setView([latitude, longitude], 13);
                
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);


                L.marker([latitude, longitude]).addTo(map);
            </script>
        </div>
    </div>
</div>

<div class="ad-divider"></div>

<div class="ad-container" style="margin-bottom:60px">
    <div class="row">
        <div class="ad-subtitle"> <i class="bi bi-bookmark-star-fill"></i> Avaliações</div>
    </div>

    <div class="row">
        <div class="container text-center">
            <div class="row mb-4">
                <div class="col">
                    <h1 class="ad-subtitle" style="font-size:50px;margin-bottom:1rem">
                            @(Model.mediaPontuacoes != 0 ? Model.mediaPontuacoes.ToString("0.00") : "N/A")
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" style="margin-bottom:70px">
        <div class="col-lg-3 mb-3">
                <h3><i class="bi bi-stars"></i></h3>
            <h3>Limpeza</h3>
            <h4>
                @(Model.mediaPontuacaoLimpeza != 0 ? Model.mediaPontuacaoLimpeza.ToString("0.00") : "N/A")
            </h4>
        </div>

        <div class="col-lg-3 mb-3">
                <h3><i class="bi bi-geo-fill"></i></h3>
            <h3>Localização</h3>
            <h4>
                @(Model.mediaPontuacaoLocalizacao != 0 ? Model.mediaPontuacaoLocalizacao.ToString("0.00") : "N/A")
            </h4>
        </div>

        <div class="col-lg-3 mb-3">
                <h3><i class="bi bi-tags-fill"></i></h3>
            <h3>Qualidade/€</h3>
            <h4>
                @(Model.mediaPontuacaoQualidadePreco != 0 ? Model.mediaPontuacaoQualidadePreco.ToString("0.00") : "N/A")
            </h4>
        </div>

        <div class="col-lg-3 mb-3">
                <h3><i class="bi bi-house-heart-fill"></i></h3>
            <h3>Espaço</h3>
            <h4>
                @(Model.mediaPontuacaoEspaco != 0 ? Model.mediaPontuacaoEspaco.ToString("0.00") : "N/A")
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="ad-subdescription-low">
            @Html.DisplayNameFor(model => model.DataCriacao) @Html.DisplayFor(model => model.DataCriacao)
        </div>
    </div>
</div>


<div class="modal fade" id="habitacaoDescricao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Sobre este espaço</h4>
                @Html.DisplayFor(model => model.Descricao)
            </div>
        </div>
    </div>
</div>