@model HabitAqui.ViewModels.HomeSearchViewModel

@{
    ViewData["Title"] = "Pesquisar habitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>As nossas habitações</h1>

<form asp-action="Search" class="btn-group" role="group">
    <input type="hidden" name="searchString" value="@Model.TextoAPesquisar" />
    <button type="submit" class="btn btn-primary">All</button>
    @foreach (var categoria in Model.Categorias)
    {
        <button type="submit" class="btn btn-primary" asp-route-categoriaId="@categoria.Id">@categoria.Nome</button>
    }
</form>

@if (!string.IsNullOrEmpty(Model.TextoAPesquisar))
{
    <p>Pesquisa: "@Model.TextoAPesquisar"</p>
}

@if (Model.NumResultados > 0)
{
    @if (Model.NumResultados == 1)
    {
        <p>Existe @Model.NumResultados curso disponível</p>
    }
    else
    {
        <p>Existem @Model.NumResultados cursos disponíveis</p>
    }

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        @foreach (var h in Model.Habitacoes)
        {
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                            @Html.DisplayFor(model => h.Name)
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            @h.CustoPorNoite<small class="text-muted fw-light"></small>€
                        </h1>
                        <h3>@Html.Raw(h.Categoria.Nome) | @Html.Raw(h.Tipologia)</h3>
                        <hr />
                        <h5>@Html.Raw(h.Descricao)</h5>
                        <hr/>
                        <p>Pais: @Html.Raw(h.Pais)</p>
                        <p>Distrito: @Html.Raw(h.Distrito)</p>
                        <p>Concelho: @Html.Raw(h.Concelho)</p>
                        <p>Rua: @Html.Raw(h.Rua)</p>
                        <p>Número de Pessoas: @Html.Raw(h.NumPessoas)</p>
                        <p>Número de WC: @Html.Raw(h.NumWC)</p>
                        <p>Locador: @Html.Raw(h.Locador.Nome)</p>
                        <p>Data de Criação: @Html.Raw(h.DataCriacao)</p>
                        <a asp-controller="Habitacoes" asp-action="Details" asp-route-id="@h.Id"
                           class="w-100 btn btn-lg btn-outline-primary">Saber mais</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="alert alert-warning">
        Não foi possível encontrar cursos com os dados introduzidos.
        <br />
        Por favor, reveja a sua pesquisa!
    </p>
}
