@model IEnumerable<HabitAqui.Models.Locador>

@{
    ViewData["Title"] = "Lista de Locadores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Criar novo locador</a>
</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.IsEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                Número de Habitações
            </th>
            <th>
                Número de Gestores
            </th>
            <th>
                Número de Funcionários
            </th>
            <th>
                Operações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @{
                    var tipoLocador = item.IsEmpresa ? "Empresa" : "Particular";
                }
                @Html.DisplayFor(modelItem => tipoLocador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @{
                    var habitacoes = item.Habitacoes?.Count() ?? 0;
                }
                @Html.DisplayFor(modelItem => habitacoes)
            </td>
            <td>
                @{
                    var gestores = item.GestoresFuncionarios?.Where(u => u.CargoComLocador == "Gestor").Count() ?? 0;
                }
                 @Html.DisplayFor(modelItem => gestores)
            </td>
            <td>
                @{
                    var funcionarios = item.GestoresFuncionarios?.Where(u => u.CargoComLocador == "Funcionario").Count() ?? 0;
                }
                    @Html.DisplayFor(modelItem => funcionarios)
            </td>
            <td>
                @if (item.Ativo)
                {
                        <a class="btn btn-warning" asp-action="Disable" asp-route-id="@item.Id">Desativar</a>
                }
                else
                {
                        <a class="btn btn-success" asp-action="Enable" asp-route-id="@item.Id">Ativar</a>
                }
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>

            </td>
        </tr>
}
    </tbody>
</table>
