@model HabitAqui.Models.Pontuacao

@{
    ViewData["Title"] = "Detalhes do Aluguer";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Pontuacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontuacaoLimpeza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontuacaoLimpeza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontuacaoLocalizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontuacaoLocalizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontuacaoQualidadePreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontuacaoQualidadePreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontuacaoEspaco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontuacaoEspaco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacao.Concelho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
